################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/APIDemo
/APIDemo/bin/Debug/net5.0
/APIDemo/logs
/APIDemo/obj
