USE [master]
GO
/****** Object:  Database [APIDemo]    Script Date: 26/4/2022 5:53:45 PM ******/
CREATE DATABASE [APIDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'APIDemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\APIDemo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'APIDemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\APIDemo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [APIDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [APIDemo]
GO
/****** Object:  Table [dbo].[MasterItem]    Script Date: 26/4/2022 5:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterItem](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NULL,
	[Name] [nvarchar](50) NULL,
	[Active] [bit] NULL,
	[CreatedOn] [datetime] NULL,
 CONSTRAINT [PK_MasterItem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vMasterItem]    Script Date: 26/4/2022 5:53:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vMasterItem]
AS
SELECT dbo.MasterItem.*
FROM     dbo.MasterItem
GO
USE [master]
GO
